/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #201f1f;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  header {
    text-align: center;
  }
  
  nav ul {
    display: block;
    text-align: center;
  }

}

/* Home page styles */
.hero {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

/* Publications page styles */
.publications h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.publications ul {
  list-style-type: none;
  padding: 0;
}

.publications li {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.107);
  padding: 1em;
  word-wrap: break-word;
  border-radius: 1em;
  line-height: 2;
}

.publications h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.publication-meta {
  font-style: italic;
  margin-bottom: 10px;
}

.publication-meta .author::after {
  content: " |";
  margin-left: 5px;
  margin-right: 5px;
}

.publication-meta .date {
  margin-left: 5px;
}

.abstract {
  margin-bottom: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #555;
}